.button {
    padding:20px;
    font-size: 23px;
    background: #333;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin-left: 15px;
}
.button:hover {
    color:rgba(255, 255, 255, 0.8);
    transform: scale(1.06);
}